<ion-header>
  <ion-toolbar color="success">
    <ion-title>Add Alert</ion-title>
  </ion-toolbar>
 </ion-header>
 
 <ion-content>
   <div class="login-container">
     <form #addAlert="ngForm" (ngSubmit)="submit(addAlert)">
       <ion-input type="text" name="latitude" [(ngModel)]="latitude" placeholder="Latitude"></ion-input>
       <ion-input type="text" name="longitude" [(ngModel)]="longitude" placeholder="Longitude"></ion-input>
       <ion-input type="text" name="allergenType" [(ngModel)]="allergenType" placeholder="Allergen Type"></ion-input>
       <ion-input type="text" name="reportedBy" [(ngModel)]="reportedBy" placeholder="Reported by"></ion-input>
       <ion-input type="text" name="timestamp" [(ngModel)]="timestamp" placeholder="Timestamp"></ion-input>
       <ion-button expand="full" type="submit" (clicl)="clearLat()" (click)="clearLng" (click)="clearAlergen()" (click)="clearReportedBy()" (click)="clearTimestamp()">Add Alert</ion-button>
     </form>
     <ion-button expand="full" type="submit" (click)="backHomepage()">Back</ion-button>
    </div>
 </ion-content>
